---
import SEO from '../components/SEO.astro';
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <SEO {title} {description} />
  </head>
  <body>
    <main class="max-w-content mx-auto px-4 sm:px-6 lg:px-8">
      <slot />
    </main>
  </body>
</html>
